<div class="w-full h-36 border-b border-b-orange-200 bg-orange-950">
    <div class="flex flex-nowrap justify-center">
        <a href="/" class="bg-red-900 hover:bg-red-800 w-50 p-4 rounded-full mt-8 ml-20 mr-20">
            <img class="w-12" src="../static/images/home.svg"/>
        </a>
        <a href="/contacte" class="bg-red-900 hover:bg-red-800 p-4 rounded-full mt-8 ml-20 mr-20">
            <img class="w-12" src="../static/images/phone.svg" alt="Account Image"/>
        </a>
        <a href="/panier" class="bg-red-900 hover:bg-red-800 p-4 rounded-full mt-8 ml-20 mr-20">
            <img class="w-12" src="../static/images/cart.svg" alt="Account Image"/>
        </a>
        <a href="/compte" class="bg-red-900 hover:bg-red-800 p-4 rounded-full mt-8 ml-20 mr-20">
            <img class="w-12" src="../static/images/account.svg" alt="Account Image"/>
        </a>
    </div>
    <div class="flex flex-nowrap justify-center">
        <a href="/jeu" class="bg-orange-950 hover:bg-red-800 border border-orange-200 p-8 rounded-full">
            <img class="w-12" src="../static/images/dice1.svg" alt="Account Image"/>
        </a>
    </div>
</div>
