<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/output.css" rel="stylesheet">
    <title>STOUK</title>    
    <style>
        body {
            background-image: url("../static/images/tapis.jpg");
            background-size: cover;
        }
    </style>
</head>
<body class="overflow-hidden">
    {{ template "header.html" .}}
    <div>
        <ul>
            <form action="/update-username" method="post">
                <li>
                    Utilisateur : <input type="text" name="username" value="{{ .Username }}"> <button type="submit">Modifier</button>
                    Utilisateur : {{ .Username }}
                </li>
            </form>
            
            <form action="/update-email" method="post">
                <li>
                    Email : <input type="email" name="email" value="{{ .Email }}"> <button type="submit">Modifier</button>
                    Email : {{ .Email }}
                </li>
            </form>

            <form action="/update-password" method="post">
                <li>
                    Nouveau mot de passe : <input type="password" name="newpassword" placeholder="Nouveau mot de passe">
                    Mot de Passe : <input type="password" name="password" placeholder="Mot de passe actuel"> 
                    <button type="submit">Modifier</button>
                </li>
            </form>
            
            <li>
                Solde : {{ .Balance }}
            </li>
            <li>
                Date de Création : {{ .CreationDate }}
            </li>
        </ul>
    </div>

    <form action="/logout" method="post">
        <button type="submit">Déconnexion</button>
    </form>
</body>
</html> 