<!DOCTYPE html>
<html lang="en">
<head class="overflow-hidden">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/styles/output.css"rel="stylesheet">
    <title>STOUK</title>
    <style>
        body {
            background-image: url('./static/images/tapis.jpg');
            background-size: cover;
        }
    </style>
</head>
<body>
    {{ template "header.html" . }}

<div class="max-w-md mx-auto mt-8">
    <ul class="divide-y divide-gray-200">
        {{ range .Players }}
            <li class="bg-white shadow-md rounded-md overflow-hidden">
                <div class="px-4 py-3">
                    <span class="font-semibold">{{ .Username }}</span>
                    <span class="text-gray-600">, Rank: {{ .Rank }}</span>
                </div>
            </li>
        {{ end }}
    </ul>
</div>

    
</body>

</html> 
