<!DOCTYPE html>
<html>
<head>
    <link href="./static/styles/output.css" rel="stylesheet">
    <title>Connexion</title>
</head>
<style>
    body {
        background-image: url("./static/images/tapis.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        zoom: 1,2;
    }
</style>
<body>
    <div class="flex justify-center items-center h-screen scale-150">
        <div class="block max-w p-6 bg-orange-950 border border-b-orange-200 rounded-lg shadow dark:bg-orange-950">
            <h2 class="text-center text-orange-200">Connexion</h2>
            <form action="/login" method="post">
                <div class="m-2 flex flex-row">
                    <label for="username" class="text-orange-200 justify-self-end">Nom d'utilisateur:</label>
                    <input type="text" id="username" name="username" class="text-orange-200 bg-orange-950 border border-orange-200 rounded ml-2 focus:outline-none focus:ring-1 focus:ring-orange-200 pl-1">
                </div>
                <div class="m-2 flex justify-end">
                    <label for="password" class="text-orange-200 flex-1">Mot de passe:</label>
                    <input type="password" id="password" name="password" class="text-orange-200 bg-orange-950 border border-orange-200 rounded ml-2 focus:outline-none focus:ring-1 focus:ring-orange-200 pl-1">
                </div>
                <div class="mt-4 flex justify-end">
                    <input type="submit" value="Connexion" class="bg-orange-950 text-orange-200 border border-orange-200 rounded p-1 pl-2 pr-2 hover:bg-red-800"></input>
                </div>
            </form>
        </div>
    </div>
</body>
</html>