<!DOCTYPE html>
<html>
<head>
    <link href="/static/styles/output.css" rel="stylesheet">
    <title>Connexion</title>
</head>
<body>
    <h2>Connexion</h2>
    <form action="/login" method="post">
        <div>
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <input type="submit" value="Connexion">
        </div>
    </form>
</body>
</html>