<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/styles/output.css"rel="stylesheet">
    <title>STOUK</title>
    <style>
        body {
            background-image: url('./static/images/tapis.jpg');
            background-size: cover;
        }
    </style>
</head>
<body class="overflow-hidden">
    <div class="w-full">
        <p class="text-orange-200 text-center text-4xl">STOUK</p>
    </div>
    <div class="w-full h-28 border-b border-b-orange-200 bg-orange-950">
    </div>
    <div>
        <img src="../static/images/de1.svg">
        
        <img src="../static/images/de2.svg">
        
        <img src="../static/images/de3.svg">
        
        <img src="../static/images/de4.svg">
        
        <img src="../static/images/de5.svg">
        
        <img src="../static/images/de6.svg">
        
        <img src="../static/images/de7.svg">
    </div>
</body>
</html>