<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/output.css" rel="stylesheet">
    <title>STOUK</title>    
    <style>
        body {
            background-image: url("../static/images/tapis.jpg");
            background-size: cover;
        }
    </style>
</head>
<body class="overflow-hidden">

    {{ template "header.html" .}}

    <div class="flex justify-center items-center h-80 scale-150 mt-60">
        <div class="block max-w p-6 bg-orange-950 border border-b-orange-200 rounded-lg shadow dark:bg-orange-950">
            <ul>
                <form action="/update-compte" method="post" class="m-1">
                    <li class="text-orange-200 mt-1">
                        Utilisateur : <input type="text" name="username" value="{{ .Account.Username }}" class="bg-red-900 border border-orange-200 focus:outline-none rounded-lg pr-1 pl-1"> 
                    </li>
                    <li class="text-orange-200 mt-1">
                        Email : <input type="email" name="email" value="{{ .Account.Email }} "  class="bg-red-900 border border-orange-200 focus:outline-none rounded-lg pr-1 pl-1">
                    </li>
                    <li class="text-orange-200 mt-1" >
                        Nouveau mot de passe : <input type="password" name="newpassword" placeholder="Nouveau mot de passe"  class="bg-red-900 border border-orange-200 focus:outline-none rounded-lg pr-1 pl-1">
                    </li>
                    <li class="text-orange-200 mt-1">
                        Mot de Passe : <input type="password" name="password" placeholder="Mot de passe actuel"  class="bg-red-900 border border-orange-200 focus:outline-none rounded-lg pr-1 pl-1"> 
                        <button type="submit" class="bg-red-900 border border-orange-200 rounded-lg pr-1 pl-1 hover:bg-red-950">Modifier</button>
                    </li>
                </form>
                <li class="text-orange-200 m-1">
                    Solde : {{ .Account.Balance }}
                </li>
                <li class="text-orange-200 m-1">
                    Date de Création : {{ .Account.CreationDate }}
                </li>
                <img src="{{ .Account.ProfilPicture }}" alt="Profil Picture" class="m-1 w-10 h-10">
                <form action="/update-profil-picture" method="post" enctype="multipart/form-data" class="m-1">
                    <input type="file" id="profil-picture" name="profil-picture" accept="image/*"><br>
                    <input type="submit" value="Enregistrer">
                </form>
                <li class="text-orange-200 m-1">
                    Nombre de victoires : {{ .NbWin }}
                </li>
                <li class="text-orange-200 m-1">
                    Nombre de défaites : {{ .NbLoose }}
                </li>
                <li class="text-orange-200 m-1">
                    Classement : {{ .Rank }}
                </li>
            </ul>
            <div>
                <h2 class="text-orange-200">Historique des parties :</h2>
                <ul>
                    {{ $accountId := .Account.Id }}
                    {{ range .Historique }}
                    <li class="text-orange-200">
                        {{ if .Who}}
                            Vous avez joué contre {{ .Player2_Username }}.
                        {{ else }}
                            Vous avez joué contre {{ .Player1_Username }}.
                        {{ end }}
                        {{ if eq .ID_Player_Win $accountId }}
                            <p>Vous avez Gagné</p>
                        {{ else }}
                            <p>Vous avez perdu</p>
                        {{ end }}
                        {{ if .Who}}
                            Vous avez joué contre {{ .PLAYER_1_LP_MOD }}.
                        {{ else }}
                            Vous avez joué contre {{ .PLAYER_2_LP_MOD }}.
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            <form action="/logout" method="post" class="m-1">
                <button type="submit" class="text-orange-200 bg-red-900 border border-orange-200 rounded-lg pr-1 pl-1 hover:bg-red-950">Déconnexion</button>
            </form>
        </div>
    </div>
</body>
</html>
