<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../src/styles/output.css" rel="stylesheet">
    <title>STOUK</title>
    <style>
        body {
            background-image: url("../src/images/tapis.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
    
    <div class="w-full h-36 border-b border-b-orange-200 bg-orange-950">
        <div class="flex flex-nowrap justify-center">
            <button class="bg-red-900 hover:bg-red-800 w-50 p-4 rounded-full mt-8 ml-20 mr-20">
                <img class="w-12" src="../src/images/home.svg"/>
            </button>
            <button class="bg-red-900 hover:bg-red-800 p-4 rounded-full mt-8 ml-20 mr-20">
                <img class="w-12" src="../src/images/phone.svg" alt="Account Image"/>
            </button>
            <button class="bg-red-900 hover:bg-red-800 p-4 rounded-full mt-8 ml-20 mr-20">
                <img class="w-12" src="../src/images/cart.svg" alt="Account Image"/>
            </button>
            <button class="bg-red-900 hover:bg-red-800 p-4 rounded-full mt-8 ml-20 mr-20">
                <img class="w-12" src="../src/images/account.svg" alt="Account Image"/>
            </button>
        </div>
        <div class="flex flex-nowrap justify-center">
            <button class="bg-orange-950 hover:bg-rose-950 border border-orange-200 p-8 rounded-full">
                <img class="w-12" src="../src/images/dice1.svg" alt="Account Image"/>
            </button>
        </div>
    </div>
</body>
</html> 